<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
  @*  <meta name="description" content="Admin template that can be used to build dashboards for CRM, CMS, etc." />*@
    <meta name="author" content="Potenza Global Solutions" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <!-- google fonts -->
  @*  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">*@
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/_Theme/assets/css/vendors.css" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="~/_Theme/assets/css/style.css" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="font-family:Bahnschrift; font-weight:bolder">
            <b>Desgined By Muhammad Umair Akbar</b>
        </footer>
    </div>
    <script src="~/Common/CommonScripts/Uttility.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>

    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Common/CommonScripts/ServerEnd.js"></script>
    <script src="~/_Theme/assets/js/vendors.js"></script>
    <script src="~/_Theme/assets/js/app.js"></script>


</body>
</html>
