
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, @Session["UsersName"]!</h1>
<h4>This Is To Inform You That You Have Following Rights:-</h4>
<br />
    @Session["All"]
</div>


<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/Content/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-utilities.css" rel="stylesheet" />
<link href="~/Content/bootstrap-utilities.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/Content/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap.bundle.js"></script>